a{
    text-decoration: none;
}
html,body{
    width: 100%; 
    height: 100%; 
}
body{
    font-family: 'Roboto', Arial, sans-serif;
    
    margin: 0; 
    /*width: 100%; 
    height: 100%;
    background: url('AirPlanet_intro.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; */
}


.AirPlanet_intro_img{
    background: url('AirPlanet_intro.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}

.introcontent{
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
    
}
.logo {
    margin-bottom: 40px;
}
.btn_wrap {
   

}

.Submit_button {
    width: 207px;
    height: 45px;  
    background-color: transparent;
    border: solid 1px #1c5bc3;
    border-radius: 3px;
    cursor:pointer;
    
}
button.Submit_button {
    padding: 16px;
} 
.button {
    
}
.Submit_button_text {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #1c5bc4;
    text-transform: uppercase;

    

}
.Submit_button__img {
    display: inline-block;
    background-image: url('main_icon.png');
    background-size: 15px 14px;
    width: 15px; 
    height: 14px;
    background-repeat: no-repeat;
    vertical-align: sub;
}
.btn_wrap:hover .Submit_button,
.btn_wrap:hover .Submit_button_text,
.btn_wrap:hover .Submit_button__img {
    background-color:#1c5bc3; 
    color: #ffffff;
}
.btn_wrap:hover .Submit_button__img{
    background-image: url('btn.png');
}


  